.inputBox {
    background-color: #160052;
    width: 500px;
    height: 260px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBoxes {
  grid-area: middle-center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

