.keyboardBtnBack {
    background-color: #7289da;
    width: 360px;
    height: 280px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboardBtnFore {
    background-color: #282b30;
    width: 95%;
    height: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.keyboardBtnFore span {
    color: white;
    font-size: 34px;
    font-weight: 600;
}

/* Konumlandırma */
#keyboardBtn0 { top: 20px; left: 20px; }
#keyboardBtn1 { top: 20px; right: 20px; }
#keyboardBtn2 { bottom: 20px; left: 20px; }
#keyboardBtn3 { bottom: 20px; right: 20px; }

#keyboardBtn0,
#keyboardBtn1,
#keyboardBtn2,
#keyboardBtn3 {
  position: absolute;
}